﻿.transparent-ui {
	opacity: .75;
}

.container {
	z-index: 0;
}

#pickIndicator {
	position: absolute;
	width: 250px;
	height: 100px;
	clear: both;
	padding: 8px;
	overflow: hidden;
	background: #000000;
	color: white;
	z-index: 2;
	margin: 0 auto;
	border: 1px solid;
	text-align: left;
	-webkit-box-shadow: #444 5px 5px 2px;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
}
